<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
</head>
<body>
  <div class="header__connect-wallet" id="connect">
    <p>Connect wallet</p>
  </div>
  <script>
    const tonConnectUI = new TON_CONNECT_UI.TonConnectUI({
      manifestUrl: './tonconnect-manifest.json',
      buttonRootId: 'connect'
    });
  </script>
</body>
</html>